.grid-container {
  display: grid;
  grid-template-columns:  70% 30%;
  grid-template-rows: 100px auto;
  height: 100%;
  width: 100%;
}

#top-bar {
  background-color: #bb1d1d;
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  flex-direction: row;
}
#title {
  width: fit-content;
}
.left-view {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  background-color: #ffffff;
}

.right-view {
  background-color: #ffffff;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  border-left: #000000 solid 1px;
}

