.flex {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#align-left {
  width: 50%;
  text-align: left;
}
#cat-title {
  padding-left: 25px;
}

#align-right {
  width: 50%;
  justify-content: space-around;
}

#group-menu {
  height: 50px;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  /* background-color: rgb(241, 241, 241); */
}

#group-header {
  height: 50px;
  /* background-color: rgb(241, 241, 241); */
  border-bottom: 1px solid #000000;
}

.fixed-width {
  width: 100%;
  text-align: right;
}
.padding-right {
  padding-right: 10px;
}


#menu-align-left {
  width: 50%;
  text-align: left;
}
#menu-align-left div {
  padding-left: 10px;
    padding-right: 10px;
}

.menu-buttons {
  padding: 4px;
}

#menu-align-right {
  width: 50%;
  text-align: left;
}

.left-spacing {
  margin-left: 15px;
}
