<div id="group-menu" class="flex">
  <div id="menu-align-left">
    <button (click)="addGroup()" class="btn btn-primary left-spacing menu-buttons">Add Group</button>
    <button (click)="deleteGroup()" class="btn btn-primary left-spacing menu-buttons">Delete</button>
  </div>
  <div id="menu-align-right">
    <p>Groups Menu</p>
  </div>
</div>
<div id="group-header" class="flex">
  <div id="align-left">
    <h3 id="cat-title">CATEGORY</h3>
  </div>
  <div id="align-right" class="flex">
    <h3 class="fixed-width">ASSIGNED</h3>
    <h3 class="fixed-width">ACTIVITY</h3>
    <h3 class="fixed-width padding-right">AVAILABLE</h3>
  </div>
</div>
<div *ngIf="groups">
  <div *ngFor="let group of groups">
    <group-view [currentGroup]="group"></group-view>
  </div>
</div>

<add-group-popup
  [createButtonPressed]="createButtonPressed.asObservable()"></add-group-popup>
