<div *ngIf="group" class="flex root-div">
  <div class="align-left flex">
    <input type="checkbox" [checked]="checked" class="checkbox" (click)="checkboxClicked($event)"/>
    <app-arrow class="arrow" classList="group-arrow" (click)="toggleCategories()"></app-arrow>
    <input type="text" id="name-input" value="{{group.name}}"
      (change)="groupNameChanged($event)">
  </div>
  <div class="align-right flex">
    <div class="fixed-width">{{assigned | currency }}</div>
    <div class="fixed-width">{{activity | currency}}</div>
    <div class="fixed-width padding-right">{{available | currency}}</div>
  </div>
</div>
<div *ngIf="categories && show">
  <category-view *ngFor="let category of categories"
    [category]="category"
    [parentToggled]="toggleSubject.asObservable()"
    (childToggled)="childToggled($event)"
    (recalculate)="updateAssigned($event)"></category-view>
</div>
