<div class="overlay" *ngIf="popup">
  <div class="popup">
      <h2>Create A Group</h2>
      <a class="close" (click)="popup = false">&times;</a>
      <div class="content">
        <div id="name-section">
          Name: <input type="text" id="name-input" (input)="groupNameChanged($event)">
        </div>
        <div id="notes-section">
          Notes:
          <textarea id="notes-input" [ngModel]="groupNotes" (input)="groupNotesChanged($event)" >
          </textarea>
        </div>
      </div>
      <div>
        <button id="create-button" (click)="createGroup()" class="btn btn-primary">Create Group</button>
      </div>
  </div>
</div>
