.card {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  display: flex;
  flex-direction: column;
  min-width: 0;
  padding: 15px;
  margin: 15px;
  text-align: left;
}

#notes-input {
  font-size: 1.2em;
  padding: 5px;
  /* width: 100%; */
  height: 200px;
  margin-top: 10px;
}

#available-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#title {
  text-align: left;
  margin-left: 15px;
}

#category-list {
  text-align: left;
  margin-left: 15px;
  font-size: smaller;
}
