
.flex {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.align-left {
  width: 50%;
  justify-content: flex-start;
}

.align-right {
  width: 50%;
  justify-content: space-around;
}
.root-cat-div {
  height: 50px;
  /* border-top: 1px solid #000000; */
  border-bottom: 1px solid #000000;
  background-color: rgb(241, 241, 241);
}
.fixed-width {
  width: 100%;
  text-align: right;
}

.padding-right {
  padding-right: 10px;
}

.name {
  padding-left: 10px;
}

.text-box {
  border: none;
  padding: 7px;
  background-color: rgb(241, 241, 241);
}

.text-box:focus {
  padding: 7px;
  background-color: rgb(255, 255, 255);
}
